.wc {
	width: 100px;
	height: 100px;
}

.gridBox {
	width: 200px;
	height: 200px;
}

.high {
	color: crimson;
}

.low {
	color: skyblue;
}

.high, .low {
	float: right;
	margin-right: 50px;
	top: 5px;
}